* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #f0f0f0;
}
.center {
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.container {
  width: 500px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 500px;
  padding: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
  width: 100%;
}
h1 {
  font-weight: 300;
  margin-bottom: 20px;
}
input {
  font-size: 16px;
  font-family: sans-serif;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  width: 100%;
  margin-bottom: 30px;
}
button {
  width: 500px;
  background: rgb(33, 37, 41);
  padding: 20px 30px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.2px;
}
#nomargin {
  margin-bottom: 10px;
}
select {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 1px;
}
option {
  padding: 10px;
  font-size: 10px;
  border-bottom: 1px solid #ccc;
}
